# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
*.tsbuildinfo

# Testing
coverage
test
*.spec.ts
*.test.ts

# Environment
.env
.env.local

# IDE
.idea
.vscode

# Git
.git

# Documentation
*.md
!README.md

